{
  "$schema": "https://schema.management.azure.com/schemas/2018-05-01/subscriptionDeploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "resources": [
    {%- for item in azure.resource_groups %}
    {
      "type": "Microsoft.Resources/resourceGroups",
      "apiVersion": "2021-04-01",
      "name": "{{ item }}",
      "location": "{{ azure.resource_groups[item].properties.location }}",
      "tags": {{ azure.resource_groups[item].properties.tags | default({}) | to_json }}
    }{% if not loop.last %},{% endif %}

    {%- endfor %}
  ]
}
